Repository dewsign/maxfactor-laravel-support: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/phpcs, markdownlint, jsonlint

2.6.3
  package.json
Due: jsonlint

Use Facade inline as for some reason this was causing errors
  src/Location/Countries.php
Due: ./vendor/bin/phpcs

Changelog
  changelog.md
Due: markdownlint

2.6.4
  package.json
Due: jsonlint

Add support for Laravel 6
  changelog.md
  composer.json
Due: markdownlint, jsonlint

2.6.5
  package.json
Due: jsonlint

actually upgrade the package for laravel 6 ;)
  README.md
  src/Maxfactor.php
  src/Model/Traits/HasSortOrder.php
  src/Webpage/Middleware/ForceDomain.php
  src/Webpage/Traits/HasContent.php
  src/Webpage/Traits/HasMetaAttributes.php
  src/Webpage/Traits/HasParent.php
Due: ./vendor/bin/phpcs, markdownlint

2.6.6
  package.json
Due: jsonlint

view inactive logic
  README.md
  src/Config/maxfactor-support.php
  src/Model/Traits/HasActiveState.php
Due: ./vendor/bin/phpcs, markdownlint

finish doc
  README.md
Due: markdownlint

move macro to its own function
  src/Model/Traits/HasActiveState.php
Due: ./vendor/bin/phpcs

2.6.7
  package.json
Due: jsonlint

register view macro in service provider
  src/MaxfactorServiceProvider.php
  src/Model/Traits/HasActiveState.php
Due: ./vendor/bin/phpcs

2.6.8
  package.json
Due: jsonlint

expand view class
  src/MaxfactorServiceProvider.php
Due: ./vendor/bin/phpcs

2.6.9
  package.json
Due: jsonlint

import other classes, this has been a mess of a morming
  src/MaxfactorServiceProvider.php
  src/Model/Traits/HasActiveState.php
Due: ./vendor/bin/phpcs

2.6.10
  package.json
Due: jsonlint

Use forked package as developer not maintaining versioning
  composer.json
Due: jsonlint

2.6.11
  package.json
Due: jsonlint

Fix deps
  composer.json
Due: jsonlint

2.6.12
  package.json
Due: jsonlint

Collection helper macro to allow for pagination
  src/Macros/CollectionPaginate.php
  src/Macros/Macro.php
  src/MaxfactorServiceProvider.php
Due: ./vendor/bin/phpcs

Search helpers
  README.md
  src/Facades/Search.php
  src/MaxfactorServiceProvider.php
  src/Webpage/Contracts/SearchResult.php
  src/Webpage/Search.php
  src/Webpage/Traits/IsSearchResult.php
Due: ./vendor/bin/phpcs, markdownlint

2.7.0
  package.json
Due: jsonlint

Avoid errors when there are no items
  src/Webpage/Traits/IsWebpage.php
Due: ./vendor/bin/phpcs

2.7.1
  package.json
Due: jsonlint

array wrap the value
  src/Maxfactor.php
Due: ./vendor/bin/phpcs

2.7.2
  package.json
Due: jsonlint

fix sitemap dep
  composer.json
Due: jsonlint

2.7.3
  package.json
Due: jsonlint

Fixed problem with migrate on version php 7.4
  src/Maxfactor.php
Due: ./vendor/bin/phpcs

Path conditions:
  ./vendor/bin/phpcs: any of: *.php
  markdownlint: any of: *.md
  jsonlint: (any of: *.json) or (any of: .*rc)
