Repository dewsign/maxfactor-laravel-support: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/phpcs, markdownlint, jsonlint

.lintstagedrc:

{
    "*.php": [
        "./vendor/bin/phpcs"
    ],
    "*.md": [
        "markdownlint"
    ],
    "*.json": [
        "jsonlint"
    ],
    ".*rc": [
        "jsonlint"
    ]
}

Import framework for class lookups
  composer.json
  composer.lock
Due: jsonlint

WIP
  src/Webpage/Contracts/Webpage.php
  src/Webpage/Traits/HasBreadcrumbs.php
  src/Webpage/Traits/HasContent.php
  src/Webpage/Traits/IsWebpage.php
Due: ./vendor/bin/phpcs

Make global maxfactor support facade for quick access helpers
  composer.json
  composer.lock
  src/Facades/Maxfactor.php
  src/Location/Countries.php
  src/Location/Facades/Countries.php
  src/Maxfactor.php
  src/MaxfactorServiceProvider.php
Due: ./vendor/bin/phpcs, jsonlint

Formatting and Facades
  composer.json
  composer.lock
  src/Facades/Format.php
  src/Format/Format.php
  src/Location/Countries.php
  src/Maxfactor.php
  src/MaxfactorServiceProvider.php
Due: ./vendor/bin/phpcs, jsonlint

Fixed lock
  composer.lock
Due: none

Minor updates to improve release config
  composer.json
  composer.lock
Due: jsonlint

Release 1.0.0
  .markdownlintrc
  README.md
  changelog.md
  composer.json
  composer.lock
Due: markdownlint, jsonlint

Corrected version
  changelog.md
Due: markdownlint

1.0.1
  package-lock.json
  package.json
Due: jsonlint

Link correct shield
  README.md
Due: markdownlint

Append breadcrumbs attribute using maxfactor trait constructor
  src/Webpage/Traits/HasBreadcrumbs.php
Due: ./vendor/bin/phpcs

Include a basic breadcrumb blade components with the package.
  src/MaxfactorServiceProvider.php
  src/Webpage/Views/components/breadcrumb.blade.php
Due: ./vendor/bin/phpcs

Helper method to bake the bread to leave a crumb trail
  src/Maxfactor.php
Due: ./vendor/bin/phpcs

Changelog
  changelog.md
  src/Webpage/Traits/HasParent.php
Due: ./vendor/bin/phpcs, markdownlint

Include version update
  changelog.md
Due: markdownlint

Middleware to include a canonical link header if a url is included in the model attributes
  src/Webpage/Middleware/CanonicalHeader.php
Due: ./vendor/bin/phpcs

Ensure all Webpages have a canonical URL to avoid SEO problems
  src/Webpage/Contracts/Webpage.php
Due: ./vendor/bin/phpcs

Trait to append the canonical attribute for the middleware to use
  src/Webpage/Traits/MustHaveCanonical.php
Due: ./vendor/bin/phpcs

Changelog
  changelog.md
Due: markdownlint

Avoid errors for responses which do not have a model associated
  src/Webpage/Middleware/CanonicalHeader.php
Due: ./vendor/bin/phpcs

Additional error trapping when a response is a numeric value rather than an object
  src/Webpage/Middleware/CanonicalHeader.php
Due: ./vendor/bin/phpcs

Improve error trapping by checking for the method rather than ruling out types
  src/Webpage/Middleware/CanonicalHeader.php
Due: ./vendor/bin/phpcs

Use npm to manage versioning but remove v prefix
  .npmrc
Due: jsonlint

1.1.0
  package-lock.json
  package.json
Due: jsonlint

Updated package version
  package-lock.json
  package.json
Due: jsonlint

Added `parent` and `children` abstract public methods to `HasParent` trait to impose requirements upon the exhibiting class
  src/Webpage/Traits/HasParent.php
Due: ./vendor/bin/phpcs

Added `withChildren` local scope to eager load `children` relationship to reduce database queries
  src/Webpage/Traits/HasParent.php
Due: ./vendor/bin/phpcs

Improved `HasParent` trait `withParent` local scope docblock
  src/Webpage/Traits/HasParent.php
Due: ./vendor/bin/phpcs

Improved `HasParent` trait `whereFullPath` local scope docblock
  src/Webpage/Traits/HasParent.php
Due: ./vendor/bin/phpcs

Updated changelog
  changelog.md
Due: markdownlint

Corrected version increase from a patch to a minor to follow semantic versioning
  changelog.md
  package.json
Due: markdownlint, jsonlint

Fixes error when using response caching in Canonical middleware
  changelog.md
  src/Webpage/Middleware/CanonicalHeader.php
Due: ./vendor/bin/phpcs, markdownlint

1.2.1
  package-lock.json
  package.json
Due: jsonlint

Adds a canonical url helper to use in page head
  changelog.md
  src/MaxfactorServiceProvider.php
  src/Webpage/Views/components/canonical.blade.php
Due: ./vendor/bin/phpcs, markdownlint

Add some documentation
  src/Webpage/Views/components/canonical.blade.php
Due: ./vendor/bin/phpcs

1.2.2
  package-lock.json
  package.json
Due: jsonlint

Helper facade for generating video embed code from video URLs
  composer.json
  composer.lock
  src/MaxfactorServiceProvider.php
  src/Video/Facade/Video.php
  src/Video/Video.php
Due: ./vendor/bin/phpcs, jsonlint

Trait to simplify adding active toggle states to a model
  src/Model/Traits/HasActiveState.php
Due: ./vendor/bin/phpcs

Trait to assist with sorting models by priority
  src/Model/Traits/WithPrioritisation.php
Due: ./vendor/bin/phpcs
