Repository dewsign/maxfactor-laravel-support: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/phpcs, markdownlint, jsonlint

Trait to make meta attributes available on a model through a single database field
  src/Webpage/Traits/HasMetaAttributes.php
Due: ./vendor/bin/phpcs

Changelog
  changelog.md
Due: markdownlint

Release 1.3.0
  changelog.md
Due: markdownlint

1.3.0
  package-lock.json
  package.json
Due: jsonlint

Switch to in-house trait init method to allow to non-static initialisation
  src/Model/Traits/HasActiveState.php
  src/Model/Traits/WithPrioritisation.php
  src/Webpage/Traits/HasMetaAttributes.php
Due: ./vendor/bin/phpcs

1.3.1
  package-lock.json
  package.json
Due: jsonlint

meta attributes field for the Nova backend
  src/Webpage/Nova/MetaAttributes.php
Due: ./vendor/bin/phpcs

Stop tracking composer lock file
  .gitignore
  composer.lock
Due: none

Documentation and additions
  README.md
  composer.json
  src/Config/view-components.php
  src/Maxfactor.php
  src/MaxfactorServiceProvider.php
  src/Webpage/Commands/MakeSitemap.php
  src/Webpage/Components/BrowserTitle.php
  src/Webpage/Components/MetaDescription.php
  src/Webpage/Model.php
  src/Webpage/Nova/MetaAttributes.php
  src/Webpage/Traits/HasBreadcrumbs.php
  src/Webpage/Traits/HasSlug.php
  src/Webpage/Views/components/breadcrumb.blade.php
  src/Webpage/Views/components/browsertitle.blade.php
  src/Webpage/Views/components/metadescription.blade.php
Due: ./vendor/bin/phpcs, markdownlint, jsonlint

Improve package requirements to maintain backwards compatiblity
  composer.json
Due: jsonlint

1.4.0
  package-lock.json
  package.json
Due: jsonlint

Fix autoloading service providers
  composer.json
Due: jsonlint

1.4.1
  package-lock.json
  package.json
Due: jsonlint

Make it easier to push additional breadcrumbs into the seeder
  src/MaxfactorServiceProvider.php
  src/Webpage/Model.php
  src/Webpage/Traits/HasBreadcrumbs.php
Due: ./vendor/bin/phpcs

Document the updated breadcrumbs system
  README.md
Due: markdownlint

Allow canonical to be set on the model or inline
  README.md
  src/Webpage/Contracts/Webpage.php
  src/Webpage/Model.php
  src/Webpage/Traits/MustHaveCanonical.php
Due: ./vendor/bin/phpcs, markdownlint

CanBeFeatured scope and blueprint
  README.md
  src/MaxfactorServiceProvider.php
  src/Model/Traits/CanBeFeatured.php
Due: ./vendor/bin/phpcs, markdownlint

Return migrations to allow chaining
  src/MaxfactorServiceProvider.php
Due: ./vendor/bin/phpcs

Fix typo
  src/Model/Traits/CanBeFeatured.php
Due: ./vendor/bin/phpcs

Sort Order Trait
  README.md
  composer.json
  src/MaxfactorServiceProvider.php
  src/Model/Traits/HasSortOrder.php
Due: ./vendor/bin/phpcs, markdownlint, jsonlint

Update sortable package for in-house
  README.md
  composer.json
Due: markdownlint, jsonlint

Apply sorted order by default when trait is included in models
  src/Model/Traits/HasSortOrder.php
Due: ./vendor/bin/phpcs

Fix it all
  src/Model/Traits/HasSortOrder.php
Due: ./vendor/bin/phpcs

2.0.0
  package-lock.json
  package.json
Due: jsonlint

Allow trait to be used on models which are then extended
  src/Webpage/Traits/HasMetaAttributes.php
Due: ./vendor/bin/phpcs

2.0.1
  package-lock.json
  package.json
Due: jsonlint

Enforce a single domain name and SSL
  README.md
  src/Config/maxfactor-support.php
  src/Webpage/Middleware/ForceDomain.php
Due: ./vendor/bin/phpcs, markdownlint

Publish new config file
  src/MaxfactorServiceProvider.php
Due: ./vendor/bin/phpcs

2.0.2
  package-lock.json
  package.json
Due: jsonlint

add itemprop to breadcrumb list schema
  src/Webpage/Views/components/breadcrumb.blade.php
Due: ./vendor/bin/phpcs

fix meta attributes bug
  src/Webpage/Traits/HasMetaAttributes.php
Due: ./vendor/bin/phpcs

Password protection middleware for staging server
  README.md
  src/Webpage/Middleware/EnvironmentAuth.php
Due: ./vendor/bin/phpcs, markdownlint

2.0.3
  package-lock.json
  package.json
Due: jsonlint

Do not add homepage to default sitemap
  src/Webpage/Commands/MakeSitemap.php
Due: ./vendor/bin/phpcs

Updated changelog
  changelog.md
Due: markdownlint

Correct version
  changelog.md
Due: markdownlint

Correct the corrected version
  changelog.md
Due: markdownlint

2.0.4
  package-lock.json
  package.json
Due: jsonlint

Corrected the corrected version of the corrected version
  changelog.md
  package.json
Due: markdownlint, jsonlint

Path conditions:
  ./vendor/bin/phpcs: any of: *.php
  markdownlint: any of: *.md
  jsonlint: (any of: *.json) or (any of: .*rc)
