Repository dewsign/maxfactor-laravel-support: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/phpcs, markdownlint, jsonlint

2.0.6
  package-lock.json
  package.json
Due: jsonlint

An alternative view to the breadcrumb list for other lists
  changelog.md
  src/Webpage/Views/components/list.blade.php
Due: ./vendor/bin/phpcs, markdownlint

2.1.0
  package-lock.json
  package.json
Due: jsonlint

Return the root parent object. Useful when listing sub-navigation items and wanting to always start at the root
  src/Webpage/Traits/HasParent.php
Due: ./vendor/bin/phpcs

Changelog
  changelog.md
Due: markdownlint

2.2.0
  package-lock.json
  package.json
Due: jsonlint

Remove nova field from required packages to avoid the support package forcin gyou to include nova in your project
  .gitignore
  composer.json
  package-lock.json
Due: jsonlint

2.2.1
  package.json
Due: jsonlint

all() gets path including query params
  src/Maxfactor.php
Due: ./vendor/bin/phpcs

use correct function
  src/Maxfactor.php
Due: ./vendor/bin/phpcs

update changelog
  changelog.md
Due: markdownlint

2.2.2
  package.json
Due: jsonlint

add a character count guidline to browser title and meta desc
  composer.json
  src/Webpage/Nova/MetaAttributes.php
Due: ./vendor/bin/phpcs, jsonlint

2.2.3
  package.json
Due: jsonlint

correct charcounted field case
  src/Webpage/Nova/MetaAttributes.php
Due: ./vendor/bin/phpcs

changelog
  changelog.md
Due: markdownlint

2.2.4
  package.json
Due: jsonlint

Helper method to filter querystrings. E.g. for use in canonicals.
  README.md
  src/Maxfactor.php
Due: ./vendor/bin/phpcs, markdownlint

2.3.0
  package.json
Due: jsonlint

Ensure the canonical URL is valid by rendering a full URL rather than a relative path
  src/Webpage/Views/components/canonical.blade.php
Due: ./vendor/bin/phpcs

2.3.1
  package.json
Due: jsonlint

allow the default first breadcrumb to be set in the config
  src/Config/maxfactor-support.php
  src/Webpage/Traits/HasBreadcrumbs.php
Due: ./vendor/bin/phpcs

Document sorted scope
  README.md
Due: markdownlint

typo
  README.md
Due: markdownlint

change config value name for increased readability.
  src/Config/maxfactor-support.php
  src/Webpage/Traits/HasBreadcrumbs.php
Due: ./vendor/bin/phpcs

update docs to include home breadcrumb
  README.md
Due: markdownlint

2.4.0
  package.json
Due: jsonlint

2.5.0
  package.json
Due: jsonlint

allow additional meta fields to be passed through
  src/Webpage/Nova/MetaAttributes.php
Due: ./vendor/bin/phpcs

document this cool functionality
  README.md
Due: markdownlint

2.6.0
  package.json
Due: jsonlint

fix char counted fields version
  composer.json
Due: jsonlint

2.6.1
  package.json
Due: jsonlint

remove dannyvankooten/vat.php and install dannyvankooten/laravel-vat
  composer.json
  src/Location/Countries.php
Due: ./vendor/bin/phpcs, jsonlint

sort imports for m2de
  src/Location/Countries.php
Due: ./vendor/bin/phpcs

2.6.2
  package.json
Due: jsonlint

2.6.2 changelog
  changelog.md
Due: markdownlint

this was causing issues when updating this package in a non-nova repo. This counted-field package has been abandoned too, so makes sense to drop it.
  composer.json
  src/Webpage/Nova/MetaAttributes.php
Due: ./vendor/bin/phpcs, jsonlint

2.6.3 changelog
  changelog.md
Due: markdownlint

Path conditions:
  ./vendor/bin/phpcs: any of: *.php
  markdownlint: any of: *.md
  jsonlint: (any of: *.json) or (any of: .*rc)
